In [14]:
import recordlinkage
import pandas as pd

In [15]:
data_folder = "../crawl/crawl/spiders/all_data"
okxe_data = pd.read_csv(data_folder + "/okxe.csv").drop(columns=['Unnamed: 0'], axis=1)
muaban_data = pd.read_csv(data_folder + "/muaban.csv").drop(columns=['Unnamed: 0'], axis=1)
webike_data = pd.read_csv(data_folder + "/webike.csv").drop(columns=['Unnamed: 0'], axis=1)
xemayhoangkien_data = pd.read_csv(data_folder + "/xemayhoangkien.csv").drop(columns=['Unnamed: 0'], axis=1)

In [16]:
xemayhoangkien_data.head()

,name,price,url,Thương hiệu,Loại,MSP,Năm đăng ký,Dung tích,Màu sắc
0,Winner X ABS 22Y-222BG,39500000,https://xemayhoangkien.com/winner-x-abs-29y-222bg,Honda,Winner,-,-,-,-
1,LX 30L-48DC,14200000,https://xemayhoangkien.com/lx-30l-48dc,Piaggio,LX,-,-,-,-
2,Wave A 38K-545CB,15800000,https://xemayhoangkien.com/wave-a-38k-545cb,Honda,Wave A,38K-545CB,2020,110cc,Trắng đen bạc
3,LX ie 29X-113JK,20000000,https://xemayhoangkien.com/lx-ie-29x-113jk,Piaggio,LX,29X-113JK,2013 (đời 2012),125cc,Vàng
4,TFX 89B-465GG,39300000,https://xemayhoangkien.com/tfx-89b-465gg,Yamaha,TFX,89B-465GG,2017,150cc,Đỏ đen

In [5]:
muaban_data.head()

,name,price,address,url,Hãng xe,Năm đăng ký,Tình trạng,Loại xe máy,Dung tích xe máy,Xuất xứ,Màu xe,Dòng xe,Số km đã đi
0,CẦN BÁN XE MÁY HONDA VISION 110 ĐỜI 2022,15000000,"Quận 5, TP.HCM",https://muaban.net/xe-may/ban-xe-may/can-ban-x...,Honda,2022.0,Mới,Tay ga,101 - 175 cc,Nước khác,Đen,-,0
1,"Chuyên thu mua các loại xe máy cũ và mới, xe h...",0,"Quận Đống Đa, Hà Nội",https://muaban.net/xe-may/mua-xe-may/chuyen-th...,-,-,-,-,-,-,-,-,0
2,HEAD SƠN TÙNG 1 - TRỢ GIÁ MUA XE TƯNG BỪNG-VUI...,31990000,"Huyện Hoài Đức, Hà Nội",https://muaban.net/xe-may/ban-xe-may/head-son-...,Honda,-,Mới,Tay côn/Moto,-,-,-,-,0
3,Cần thanh lý lô xe honda AirBlade 150 nhập khẩu,19000000,"TP. Thủ Đức - Quận 9, TP.HCM",https://muaban.net/xe-may/ban-xe-may/can-thanh...,Honda,2022.0,Mới,Tay ga,101 - 175 cc,Nước khác,Đen,Air Blade,0
4,CẦN BÁN XE MÁY HONDA SH150 ĐỜI 2022,32000000,"Quận 5, TP.HCM",https://muaban.net/xe-may/ban-xe-may/can-ban-x...,Honda,2023.0,Mới,Tay ga,101 - 175 cc,Nước khác,Ghi/Xám,SH,0

In [17]:
webike_data.head()

,name,price,address,url,Dòng xe,Đã đi,Xuất xứ,Đời xe,Phân khối,Loại xe,Màu,Ngày đăng
0,Cần bán PIAGGIO Liberty 3V i.e 125 2015 màu trắng,19500000.0,"Cầu Giấy , Hà Nội",https://www.webike.vn/cho-xe-may/bike-detail/c...,PIAGGIO Liberty 3V i.e 125 2015,10 000 - 14 999 km,Việt Nam,2015,125 cc,Xe tay ga,Trắng,11 ngày trước
1,HONDA Airblade 110 Fi Đen Đỏ Trắng - 2013,10500000.0,"Cầu Giấy , Hà Nội",https://www.webike.vn/cho-xe-may/bike-detail/h...,HONDA Airblade 110 Fi 2013,5 000 - 9 999 km,Nhật Bản,2013,110 cc,Xe tay ga,Đen Đỏ Trắng,16 ngày trước
2,Cần bán HONDA SH 150i 2014 màu trắng,60000000.0,"An Khê , Gia Lai",https://www.webike.vn/cho-xe-may/bike-detail/c...,HONDA SH 150i 2014,40 000 - 44 999 km,Việt Nam,2014,150 cc,Xe tay ga,Trắng,5 ngày trước
3,Cần bán PIAGGIO Vespa S 3V i.e 125 2016 màu xa...,0.0,"Cầu Giấy , Hà Nội",https://www.webike.vn/cho-xe-may/bike-detail/c...,PIAGGIO Vespa S 3V i.e 125 2016,10 000 - 14 999 km,Việt Nam,2016,125 cc,Xe tay ga,Xanh Da Trời Xám,1 tháng trước
4,HONDA SH Mode 125 Đen Đỏ - 2019,47000000.0,"Tân Phú , Hồ Chí Minh",https://www.webike.vn/cho-xe-may/bike-detail/h...,HONDA SH Mode 125 2019,15 000 - 19 999 km,Việt Nam,2019,125 cc,Xe tay ga,Đen Đỏ,16 ngày trước

In [18]:
okxe_data.head()

,name,price,address,url,brand,image_url,model,store,type,fuel,...,used_distance,Giảm xóc - Phuộc,Phanh,Động cơ,Đồng hồ,Khoá,Hệ thống đèn,Hệ thống tự động,Công nghệ kết nối,Khác
0,Suzuki GSX 150 Bandit,28000000,Tp. Hồ Chí Minh,https://api.okxe.vn/products/suzuki-gsx-150-br...,Suzuki,https://cdn.okxe.vn/products/848/1689848/16898...,GSX,Trạm Dịch Vụ Xe Máy TP HCM,2,Gasolin,...,0-10600km,Phuộc Showa SFF-CA & monoshock Showa BFRC,Phanh Đĩa,Phun xăng điện tử Fi / PGM-FI,Đồng hồ LCD,-,-,-,-,-
1,Honda Air Blade 160 FI,58000000,Tp. Hà Nội,https://api.okxe.vn/products/honda-air-blade-1...,Honda,https://cdn.okxe.vn/products/503/1690503/16905...,Air Blade,Trạm Dịch Vụ Xe Máy OKXE Hà Nội,1,Gasolin,...,0-3000km,-,"Phanh ABS,Phanh Đĩa",Phun xăng điện tử Fi / PGM-FI,Đồng hồ điện tử,"Smartkey,Khóa chống trộm",Đèn LED,Hệ thống ngắt động cơ tạm thời - Idling Stop,USB post,"Tiết kiệm nhiên liệu,Hiển thị Eco"
2,Honda Air Blade 125 FI,35000000,Tp. Hồ Chí Minh,https://api.okxe.vn/products/honda-air-blade-1...,Honda,https://cdn.okxe.vn/products/241/1683241/16832...,Air Blade,Trạm Dịch Vụ Xe Máy TP HCM,1,Gasolin,...,0-7000km,-,"Phanh cơ,Phanh Đĩa",Phun xăng điện tử Fi / PGM-FI,-,-,-,Hệ thống ngắt động cơ tạm thời - Idling Stop,-,-
3,Honda Air Blade 125 FI,30500000,Tp. Hồ Chí Minh,https://api.okxe.vn/products/honda-air-blade-1...,Honda,https://cdn.okxe.vn/products/822/1689822/16898...,Air Blade,Trạm Dịch Vụ Xe Máy TP HCM,1,Gasolin,...,0-60000km,-,"Phanh cơ,Phanh Đĩa",Phun xăng điện tử Fi / PGM-FI,-,-,-,Hệ thống ngắt động cơ tạm thời - Idling Stop,-,-
4,Honda SH 125i,60000000,Tp. Hồ Chí Minh,https://api.okxe.vn/products/honda-sh-125i-168...,Honda,https://cdn.okxe.vn/products/740/1689740/16897...,SH,Trạm Dịch Vụ Xe Máy TP HCM,1,Gasolin,...,0-5000km,-,-,Phun xăng điện tử Fi / PGM-FI,Đồng hồ LCD,-,-,Hệ thống ngắt động cơ tạm thời - Idling Stop,-,-

In [56]:
# Build the indexer
indexer = recordlinkage.Index()
# Can use full or block
# indexer.full()
# indexer.block(left_on='State', right_on='Provider State')

# Use sortedneighbor as a good option if data is not clean
indexer.sortedneighbourhood(left_on='name', right_on='name')

In [20]:
candidates = indexer.index(muaban_data, webike_data)

In [21]:
print(len(candidates))

1230

In [49]:
compare = recordlinkage.Compare()
# compare.exact('City', 'Provider City', label='City')
compare.string('name','name',threshold=0.85,label='Name')
compare.string('Dòng xe', 'Dòng xe', method='jarowinkler', threshold=0.5, label='Dòng xe')
compare.string('address', 'address', method='jarowinkler', threshold=0.5, label='address')
compare.string('Loại xe máy', 'Loại xe', method='jarowinkler', threshold=0.5, label='Loại xe')
compare.string('Số km đã đi', 'Đã đi', method='jarowinkler', threshold=0.8, label='Đã đi')
features = compare.compute(candidates, muaban_data,
                           webike_data)

In [50]:
features

           Name  Dòng xe  address  Loại xe  Đã đi
3    2191   0.0      0.0      1.0      0.0    0.0
5    2477   0.0      0.0      0.0      0.0    0.0
6    304    0.0      0.0      1.0      0.0    0.0
10   1232   0.0      0.0      1.0      0.0    0.0
13   1615   0.0      1.0      0.0      1.0    0.0
...         ...      ...      ...      ...    ...
1439 2600   0.0      0.0      0.0      0.0    0.0
1440 2557   0.0      0.0      0.0      0.0    0.0
1441 982    0.0      0.0      0.0      0.0    0.0
1444 2493   0.0      0.0      0.0      0.0    0.0
1445 1998   0.0      0.0      0.0      0.0    0.0

[1230 rows x 5 columns]

In [51]:
# Get the potential matches
potential_matches = features[features.sum(axis=1) > 3].reset_index()
potential_matches

   level_0  level_1  Name  Dòng xe  address  Loại xe  Đã đi
0      436     1545   1.0      1.0      1.0      1.0    0.0
1      187     1545   1.0      1.0      1.0      1.0    0.0

In [52]:
i = 436
muaban_data[i:i+1]

,name,price,address,url,Hãng xe,Năm đăng ký,Tình trạng,Loại xe máy,Dung tích xe máy,Xuất xứ,Màu xe,Dòng xe,Số km đã đi
436,Bán trả góp Air Blade 2008 trả trước 5tr5 lấy xe,13500000,"Quận Bình Thạnh, TP.HCM",https://muaban.net/xe-may/ban-xe-may/ban-tra-g...,Honda,2008.0,Đã sử dụng,Tay ga,101 - 175 cc,-,Đen,Air Blade,0-30km

In [45]:
j = 1545
webike_data[j:j+1]

,name,price,address,url,Dòng xe,Đã đi,Xuất xứ,Đời xe,Phân khối,Loại xe,Màu,Ngày đăng
1545,Bán trả góp Air Blade 2012 trả trước 5tr lấy xe,16000000.0,"Bình Thạnh , Hồ Chí Minh",https://www.webike.vn/cho-xe-may/bike-detail/b...,HONDA Airblade 125 Fi 2012,30 000 - 34 999 km,-,2012,125 cc,Xe tay ga,-,4 tháng trước

In [57]:
candidates = indexer.index(muaban_data, okxe_data)

In [60]:
compare = recordlinkage.Compare()
# compare.exact('City', 'Provider City', label='City')
compare.string('name','name',threshold=0.85,label='Name')
# compare.string('price', 'price', method='jarowinkler', threshold=0.5, label='Dòng xe')
compare.string('address', 'address', method='jarowinkler', threshold=0.5, label='address')
compare.string('Tình trạng', 'used_status', method='jarowinkler', threshold=0.5, label='Tình trạng')
compare.string('Hãng xe', 'brand', method='jarowinkler', threshold=0.8, label='Hãng xe')
features = compare.compute(candidates, muaban_data,
                           okxe_data)

In [62]:
# Get the potential matches
potential_matches = features[features.sum(axis=1) > 2].reset_index()
potential_matches

     level_0  level_1  Name  address  Tình trạng  Hãng xe
0        246      262   0.0      1.0         1.0      1.0
1        470        0   0.0      1.0         1.0      1.0
2        581       90   0.0      1.0         1.0      1.0
3        581      129   0.0      1.0         1.0      1.0
4        581      216   0.0      1.0         1.0      1.0
..       ...      ...   ...      ...         ...      ...
167      921      150   0.0      1.0         1.0      1.0
168      921      222   0.0      1.0         1.0      1.0
169      921      230   0.0      1.0         1.0      1.0
170     1166      242   0.0      1.0         1.0      1.0
171     1166      247   0.0      1.0         1.0      1.0

[172 rows x 6 columns]

In [63]:
i = 246
muaban_data[i:i+1]

,name,price,address,url,Hãng xe,Năm đăng ký,Tình trạng,Loại xe máy,Dung tích xe máy,Xuất xứ,Màu xe,Dòng xe,Số km đã đi
246,Honda REBEL 170 Đen Hà Nội Chính Ngạch USA Nhậ...,32600000,"Quận Nam Từ Liêm, Hà Nội",https://muaban.net/xe-may/ban-xe-may/honda-reb...,Honda,2018.0,Đã sử dụng,Tay côn/Moto,101 - 175 cc,Mỹ,Đen,Rebel,0-2.8km

In [65]:
j = 262
okxe_data[j:j+1]

,name,price,address,url,brand,image_url,model,store,type,fuel,...,used_distance,Giảm xóc - Phuộc,Phanh,Động cơ,Đồng hồ,Khoá,Hệ thống đèn,Hệ thống tự động,Công nghệ kết nối,Khác
262,Honda Rebel 150,21500000,Tp. Hà Nội,https://api.okxe.vn/products/honda-rebel-150-1...,Honda,https://cdn.okxe.vn/products/666/1697666/16976...,Rebel,Xe máy Thanh Tùng,2,Gasolin,...,0-5000km,-,-,-,-,-,-,-,-,-

In [78]:
okxe_data[0:1]['url'].values

array(['https://api.okxe.vn/products/suzuki-gsx-150-brandit-1689848'],
      dtype=object)